:root{
	--tr:#fff;
	--de:#000;
	--text_color:#333;
	--maincolor:#ee4d2d;
}
*{
	box-sizing: inherit;
}
html{
	font-size:62.5% ;
	line-height:1.6rem;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.set{
	width: 1450px;
	max-width: 100%;
	margin: 0 auto;
}
.set__fullset{
	width: 100%;
}
.set__row{
	display: flex;
	flex: wrap;
}